@import 'https://fonts.googleapis.com/css?family=Poiret+One';

body {
	background-image: url('images/background.jpg');
	background-repeat: repeat-x;
	background-color: rgb(46, 27, 82);
	letter-spacing: 1px;
	font-family: 'Poiret One', 'Helvetica Neue', Helvetica, sans-serif;
}

.disable {
	display: none;
}

.show {
	display: block;
}

.center {
	text-align: center;
}


/* Nav */

h1 {
	color: #ffffe6;
	text-decoration: underline;
	margin-left: 20px;
}

.rightLinks {
	position: absolute;
	right: 0;
	top: 0;
}

a {
	color: #ffffe6;
}

a:hover {
	color: #ffffb3;
	text-decoration: none;
}

.menu {
	padding-top: 20px;
	padding-right: 15px;
	float: right;
	color: #ffffe6;
	font-size: 12px;
	z-index: -1;
}

.menu li {
	margin-right: 5px;
}

.tooltip.bottom .tooltip-inner {
	text-align: left;
	width: 150px;
}

/* Stars */

img {
	width: 100px;
	position: absolute;
}

#star1 {
	top: 20px;
	right: 30%;
}

#star2 {
	top: 40px;
	right: 50%;
}

#star3 {
	top: 80px;
	right: 75%;
}

#star4 {
	top: 100px;
	right: 10%;
}

#star5 {
	top: 100px;
	right: 95%;
}

#star6 {
	right: 5%;
}

#star7 {
	right: 65%;
}

/* Blanks */

#main {
	margin-top: 150px;
}

.blanks li {
	width: 20px;
	height: 40px;
	padding-bottom: 5px;
	position: relative;
	top: 5px;
	border-bottom: solid 1px #ffffe6;
	color: #ffffe6;
	margin-right: 10px;
	vertical-align: top;
	font-size: 30px;
}

li {
	display: inline-block;
	list-style: none;
}

/* Correct word & already picked text */

.notice {
	font-size: 14px;
	text-align: center;
}

/* Alphabet rows */

.letters{
	margin-top: 50px;
}

.letter{
	border: solid 1px #ffffe6;
	padding: 10px;
	color: #ffffe6;
	margin-right: 10px;
}

.letter:hover {
	border-color: #ffffb3;
	color: #ffffb3;
}

/* Count and repeat button */

h2 {
	color: #ffffe6;
	display: inline-block;
	font-size: 20px;
}


.btn {
	border: solid 1px #ffffe6;
	color: #ffffe6;
	display: inline-block;
	background-color: rgb(40, 23, 75);
	margin-top: 5px;
}

.btn:hover {
	border-color: #ffffb3;
	color: #ffffb3;
}

.glyphicon {
	color: #ffffe6;
}

.glyphicon:hover {
	color: #ffffb3;
}

.dim {
	opacity: .5;
}

/* Start Message */

.intro {
	background-color: rgb(4,3,43);
}

p {
	text-align: left;
	width: 500px;
	padding: 5px;
	color: #ffffe6;
	font-size: 14px;
	margin: 5px auto;
	margin-top: 10px;
}

.instruction {
	font-size: 12px;
}

.confirm {
	margin: 0px 10px;
	margin-top: 15px;
	background-color: rgb(4, 3, 43);
}

.portrait {
	display: none;
}


/* win lose screens */

.win, #dark, .intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 88px;
}

#dark {
	background-color: #000000;
}

.win {
	background-color: rgb(69, 130, 166);
}

.loseStatement {
	margin: 0px;
}

#tryAgain {
	background-color: rgb(15, 32, 60);
}

.next {
	background-color: rgb(30, 70, 103)
}

/* Footer */

#footer {
	background-image: url('images/houses.png');
	background-repeat: repeat-x !important;
	background-size: auto 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 80px;
}

.copyright {
	font-size: 10px;
	color: #ffffe6;
	text-align: right;
	float: right;
	width: 200px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 0px;
	padding-right: 5px;
}

/* Media Queries */

@media (max-width: 640px) {

	img {
		width: 50px;
	}

	.main {
		margin-top: 100px;
	}

	.alpha li {
		margin-bottom: 10px;
	}

	p {
		width: 400px;
	}
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

		.portrait {
			display: block;
			width: 100%;
			height: 100vh;
			text-align: center;
			background-color: rgb(4,3,43);
			position: absolute;
			top: 0;
		}

		.portrait h2 {
			font-size: 40px;
			margin-top: 30vh;
		}

		.portrait p {
			font-size: 30px;
			padding-left: 40px;
		}

		.intro {
			display: none;
		}

  	#discovered {
  		font-size: 25px;
  	}

  	#starUL {
  		margin-top: 7%;
  	}

  	img {
  		width: 125px;
  	}

  	#star6 {
  		right: -10%;
  	}

  	#star2 {
  		top: 150px;
  	}

  	#star3 {
  		top: 220px;
  		right: 25%;
  	}

  	.story, .loseStatement, .winStatement {
  		margin-top: 30%;
  	}

  	p {
  		font-size: 14px;
  	}

  	#footer {
  		height: 150px;
  	}
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  	#main {
  		margin-top: 10%;
  	}

  	.loseStatement, .winStatement {
  		margin-top: 5%;
  	}

  	.story {
  		margin-top: -7%;
  	}

  	#footer {
  		height:
  	}
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

  	#main {
  		margin-top: 45%;
  	}

  	img {
  		width: 150px;
  	}

  	#star6 {
  		right: -10%;
  	}

  	#star2 {
  		top: 150px;
  	}

  	#star3 {
  		top: 220px;
  		right: 25%;
  	}

  	#star4 {
  		top: 120px;
  		right: -20%;
  	}

  	.story, .loseStatement, .winStatement {
  		margin-top: 20%;
  	}

  	#footer {
  		height: 120px;
  	}
}
