@import 'https://fonts.googleapis.com/css?family=Poiret+One';


body {
	background-image: url('images/background2-1.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: rgb(12, 90, 92);
	font-family: 'Poiret One', 'Helvetica Neue', Helvetica, sans-serif;
	letter-spacing: 1px;
}

.disable {
	display: none;
}

.show {
	display: block;
}

.center {
	text-align: center;
}

/* Nav */

h1 {
	color: #ffffe6;
	text-decoration: underline;
	margin-left: 20px;
}

a {
	color: #ffffe6;
}

a:hover {
	color: #ffffb3;
	text-decoration: none;
}

.navbar-header {
	position: absolute;
	top: 0px;
	z-index: 10;
}

.menu {
	padding-top: 20px;
	padding-right: 15px;
	float: right;
	color: #ffffe6;
	font-size: 12px;
}

.menu li {
	margin-right: 5px;
}

.tooltip.bottom .tooltip-inner {
	text-align: left;
}

/* Cloud */

img {
	position: absolute;
	width: 100%;
}

.cloud {
	width: 100%;
	/*height: 100%;*/
	padding: 0px;
	position: absolute;
	top: 40%;
	left: 0;
}

#glowcloud {
	width: 100%;
	position: absolute;
	top: -1100px;
}

/* Guess area */

#main {
	margin-top: 150px;
}

li {
	display: inline-block;
}

#emptyHouses li {
	width: 80px;
	height: 85px;
	margin-right: 60px;
	border-bottom: solid 1px #ffffe6;
	position: relative;
}

.houses {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 80px;
}

/* Guess counters */

#guessLog {
	margin-top: 20px;
}

.pastGuess {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	border-radius: 100%;
	border: solid 1px #ffffe6;
}

/* Selection Area */

#choices li {
	border: none;
	width: 40px;
	height: 40px;
	margin-right: 40px;
	margin-top: 30px;
	border-radius: 100%;
	border: solid 1px #ffffe6;
}

#choices li:hover {
	border-color: #ffffb3; 
}

#choice1 {
	background-color: rgb(73, 95, 144);
}

#choice2 {
	background-color: rgb(3, 49, 103);
}

#choice3 {
	background-color: rgb(73, 49, 81);
}

#choice4 {
	background-color: rgb(62, 64, 94);
}

#choice5 {
	background-color: rgb(81, 0, 44);
}

#choice6 {
	background-color: rgb(66, 42, 101);
}

/* Correct guess */

.notice {
	font-size: 14px;
	text-align: center;
	margin-bottom: 40px;
	visibility: hidden;

}

/* Count and buttons */

h2 {
	color: #ffffe6;
	display: inline-block;
	font-size: 20px;
}

.btn {
	border: solid 1px #ffffe6;
	color: #ffffe6;
	display: inline-block;
	background-color: rgb(40, 23, 75);
	margin-top: 5px;
}

.btn:hover {
	border-color: #ffffb3;
	color: #ffffb3;
}

.glyphicon {
	color: #ffffe6;
}

.glyphicon:hover {
	color: #ffffb3;
}

/* Start Message */

p {
	text-align: left;
	width: 500px;
	padding: 5px;
	color: #ffffe6;
	font-size: 12px;
	margin: 5px auto;
	margin-top: 10px;
}

.instruction {
	font-size: 12px;
}

.confirm {
	margin: 0px 10px;
	margin-top: 15px;
	background-color: rgb(4, 3, 43);
}


/* win lose screens */

.win, .lose, .intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 88px;
}

.intro {
	background-color: rgb(12,90,92);
}

.lose {
	background-color: #000000;
}

.win {
	background-color: rgb(69, 130, 166);
}

.loseStatement {
	margin: 0px;
}

#tryAgain {
	background-color: rgb(15, 32, 60);
}

.next {
	background-color: rgb(30, 70, 103)
}

/* Footer */

#footer {
	background-image: url('images/houses.png');
	background-repeat: repeat-x !important;
	background-size: auto 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 80px;
}

.copyright {
	font-size: 10px;
	color: #ffffe6;
	text-align: right;
	float: right;
	width: 200px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 0px;
	padding-right: 5px;
}

/* media queries */

@media (max-width: 1600px) {
	#glowcloud {
		top: -1300px;
	}
}

@media (max-width: 1240px) {
	#glowcloud {
		top: -1100px;
	}
}

@media (max-width: 1100px) {
	#glowcloud{
		top:-1000px;
	}
}

@media (max-width: 992px) {

	img {
		width: 75px;
	}

}

@media (max-width: 820px) {
	#glowcloud {
		top: -800px;
	}
}

@media (max-width: 768px) {

	#glowcloud {
		top: -700px;
	}
}

@media (max-width: 648px) {

	img {
		width: 50px;
	}

	.main {
		margin-top: 100px;
	}

	p {
		width: 400px;
	}

	#glowcloud {
		top: -600px;
	}

	#emptyHouses {
		padding: 0px 100px 0px 160px;
	}

	#main {
		margin-top: 95px;
	}

	#choices li {
		height: 30px;
		width: 30px;
		margin-right: 20px;
	}
}

@media (max-width: 575px) {
	#glowcloud {
		top: -500px;
	}

	#emptyHouses{
		padding: 0px 50px 0px 100px;
	}

	#main {
		margin-top: 75px;
	}
}

@media (max-width: 465px) {

	#emptyHouses li {
		width: 70px;
	}

	.houses {
		width: 70px;
	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  	#main {
  		margin-top: 60%;
  	}

  	.story, .loseStatement, .winStatement {
  		margin-top: 30%;
  	}

  	p {
  		font-size: 14px;
  	}

  	#footer {
  		height: 120px;
  	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  	#main {
  		margin-top: 10%;
  	}

  	.loseStatement, .winStatement {
  		margin-top: 5%;
  	}

  	.story {
  		margin-top: -7%;
  	}

  	#footer {
  		height: 
  	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	#main {
  		margin-top: 45%;
  	}

  	.story, .loseStatement, .winStatement {
  		margin-top: 20%;
  	}

  	#footer {
  		height: 120px;
  	}
}
